<!-- Approach section management, customer, collaborative -->
<section>
  <h2>Approach</h2>
  <ul>
    <li>
      <p>Effortless Validation for</p>
      <h3>Management</h3>
      <p>
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul>
        <li>
          <h4>Accessory makers</h4>
          <p>
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h4>Alterationists</h4>
          <p>
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
      <img
        src="./images/management-img.svg"
        alt="manegemant"
        width="540"
        height="500"
      />
    </li>
    <li>
      <p>Easier decision making for</p>
      <h3>Customer Support</h3>
      <p>
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul>
        <li class="customer-support-litem">
          <img src="./images/icony.svg" alt="" width="35" height="35" />
          <p class="customer-support-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="customer-support-litem">
          <img src="./images/iconr.svg" alt="" width="35" height="35" />
          <p class="customer-support-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="customer-support-litem">
          <img src="./images/iconb.svg" alt="" width="35" height="35" />
          <p class="customer-support-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
      <img
        src="./images/support-img.svg"
        alt="support"
        width="540"
        height="500"
      />
    </li>
    <li>
      <p>Optimisation for</p>
      <h3>Collaborative</h3>
      <p>
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul>
        <li>
          <h4>Accessory makers</h4>
          <p>
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h4>Alterationists</h4>
          <p>
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
      <img
        src="./images/collaboration-img.svg"
        alt="collaboration"
        width="540"
        height="500"
      />
    </li>
  </ul>
</section>
