<!-- HEADER -->
<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo">
      <img src="./images/logo.svg" alt="Logo" height="36" width="40" />
      Product
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a class="header-nav-link" href="./index.html">Product</a></li>
        <li>
          <a class="header-nav-link" href="./pricing.html">Pricing</a>
        </li>
        <li>
          <a class="header-nav-link" href="./customer.html">Customers</a>
        </li>
        <li><a class="header-nav-link" href="">Resources</a></li>
      </ul>
    </nav>

    <ul class="header-btn-list">
      <li><button class="header-btn" type="button">Sign In</button></li>
      <li><button class="header-btn" type="button">Sign Up</button></li>
    </ul>
  </div>
</header>
