<!-- Product section-->
<section class="product-section">
  <div class="container product-container">
    <h2 class="product-title">Product was Built Specifically for You</h2>
    <ul class="product-list">
      <li class="product-litem">
        <!--               <div class="product-built-wrapper">
            <svg width="11" height="18">
              <use></use>
            </svg>
          </div> -->

        <!--            <img
            src="./images/icon-bd.svg"
            alt="image 1"
            height="54"
            width="54"
          /> -->
        <h3 class="product-subtitle">First click tests</h3>
        <p class="product-text">While most people enjoy casino gambling,</p>
      </li>
      <li class="product-litem">
        <!--               <img
            src="./images/icon-bd2.svg"
            alt="image 2"
            height="54"
            width="54"
          /> -->
        <h3 class="product-subtitle">Design surveys</h3>
        <p class="product-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="product-litem">
        <!--            <img
            src="./images/icon-bd3.svg"
            alt="image 3"
            height="54"
            width="54"
          /> -->
        <h3 class="product-subtitle">Preference tests</h3>
        <p class="product-text">The Myspace page defines the individual.</p>
      </li>
      <li class="product-litem">
        <!--        <img
            src="./images/icon-bd4.svg"
            alt="image 4"
            height="54"
            width="54"
          /> -->
        <h3 class="product-subtitle">Five second tests</h3>
        <p class="product-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button class="product-btn" type="button">sign up now</button>
  </div>
</section>
