/* == HEADER == */
.header {
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  padding: 26px 0;
  display: block;
}

.header-btn-list {
  display: flex;
  gap: 20px;
}

.header-btn {
}

.header-container {
  display: flex;
  align-items: center;
}
